.jjoyl { 
  padding-left: 80px;
  margin-left: 30px;
  line-height: 57px;
  padding-right: 10px;
  padding-left: 96px;
  margin-left: 74px;
  line-height: 23px;
  padding-top: 37px;
  line-height: 88px;
  margin-right: 91px;
  padding-bottom: 24px;
  margin-bottom: 49px;
  margin-bottom: 49px;
  padding-left: 84px;
  padding-top: 67px;
  margin-right: 25px;
  margin-top: 32px;
  padding-right: 13px;
  margin-bottom: 97px;
  border-bottom-width: 4px;
  margin-top: 59px;
  border-bottom-width: 8px;
  border-left-width: 63px;
  margin-right: 53px;
  margin-left: 89px;
  margin-left: 8px;
  line-height: 35px;
}
