.jjoyl { 
  padding-left: 80px;
  margin-left: 30px;
  line-height: 57px;
  padding-right: 10px;
  padding-left: 96px;
  margin-left: 74px;
  line-height: 23px;
  border-right-width: 12px;
  border-top-width: 88px;
  padding-left: 92px;
}
